<!-- view post -->
<div class="col">
  <div class="post card mb-3">
    <div class="card-header">
      <!-- header acts as a link to view a single post -->
      <h4 style="margin: 0">{{title}}</h4>
      <span class="card-text post-user-txt flex-row-reverse">
          Created by
          {{user.username}}
          on
          {{format_date date_created}}</span>
    </div>
    <div class="card-body">
      <div class="form-group">
        

        <p class="card-text">{{description}}</p>
      </div>
    </div>
  </div>
</div>